* {
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;

}

body {
  background-image: url("back-placeholder1.png");
  background-repeat: no-repeat;
  display: grid;
  grid-template-areas:
    "aside nav  nav"
    "aside main main"
    "aside main main";
  grid-template-rows: 18%;
  grid-template-columns: 15% 1fr 1fr;
  width: 92.75%;
  height: 96rem;
}

aside {
  border: 1px black solid;
  grid-area: aside;
  display: grid;
  grid-template-areas: 
    "aside-header"
    "aside-main"
    "aside-admin"
    "aside-categories";
}

.aside-header {
  grid-area: aside-header;
}

.aside-main {
  grid-area: aside-main;
  display: grid;
  grid-template-areas: 
    "home"
    "jobs"
    "resumes"
    "tasks"
    "calendar";
}

.home {
  grid-area: home;
}

.jobs {
  grid-area: jobs;
}

.resumes {
  grid-area: resumes;
}

.tasks {
  grid-area: tasks;
}

.calendar {
  grid-area: calendar;
}

.aside-admin {
  grid-area: aside-admin;
}

.aside-categories {
  grid-area: aside-categories;
}


nav {
  border: 1px black solid;
  grid-area: nav;
  display: grid;
  grid-template-areas: 
    "search-bar"
    "summary-bar";
  grid-template-rows: 30% 1fr;
  grid-template-columns: 1fr;
}

main {
  border: 1px black solid;
  display: grid;
  grid-area: main;
  grid-template-areas: 
    "chart  chart"
    "resume social"
    "resume social";
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 34.25%;
}

.chart {
  border: 1px black solid;
  grid-area: chart;
}

.resume {
  border: 1px black solid;
  grid-area: resume;
  display: grid;
  grid-template-areas: 
    ". job-description"
    ". position-title"
    ". location"
    ". employment-type"
    ". experience"
    ". status"
    ". description"
    ". hiring-lead"
    ". approved-salary";
  grid-template-rows: repeat(6, 4.6rem) 9rem repeat(2, 4.6rem); 
  grid-template-columns: 5.3rem 1fr;
}
    
.job-description {
  grid-area: job-description;
  display: flex;
  padding-top: 1.5rem;
  /*background-color: #6E7E95;*/
}

.position-title {
  grid-area: position-title;
  display: flex;
  padding-top: 1.5rem;

}

.location {
  grid-area: location;
  display: flex;
  padding-top: 1.5rem;
}

.employment-type {
  grid-area: employment-type;
  display: flex;
  padding-top: 1.5rem;
}

.experience {
  grid-area: experience;
  display: flex;
  padding-top: 1.5rem;
}

.status {
  grid-area: status;
  display: flex;
  padding-top: 1.5rem;
}

.description {
  grid-area: description;
  display: flex;
  padding-top: 1.5rem;
}

.hiring-lead {
  grid-area: hiring-lead;
  display: flex;
  padding-top: 1.5rem;
}

.approved-salary {
  grid-area: approved-salary;
  display: flex;
  padding-top: 1.5rem;
}

.social {
  border: 1px black solid;
  grid-area: social;
  display: flex;
  flex-direction: column;
}

.social-buttons {
  width: 17.75rem;
  height: 11.4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 3.1rem;
}

.social-btn {
  color: white;
  width: 100%;
  height: 27%;
}

.facebook {
  box-sizing: border-box;
  /*background-color: #4B71C2;*/
  border: 1px solid black;
  justify-content: center;
  height: 2.75rem;
  display: flex;
  justify-content: flex-start;
  align-items: all;
  padding-left: 1.6rem;
  padding-top: .75rem;
}

.post-facebook {

}

.twitter {
  /*background-color: #00ABF0;*/
  border: 1px solid black;
  justify-content: center;
  height: 2.75rem;

}

.linkedin {
  /*background-color: #067FBC;*/
  border: 1px solid black;
  justify-content: center;
  height: 3rem;
}

.round-image {
  border-radius: 100%;
  width: 5rem;
  height: 5rem;
}

.albus {
  border-radius: 100%;
  width: 2.75rem;
  height: 2.75rem;
}

.search-bar {
  border: black 1px solid;
  display: flex;
  width: 100%;
  justify-content: space-between;

}

.summary-bar {
  border: black 1px solid;
  display: grid;
  grid-template-areas: 
    ".     ."
    "title summary-btn"
    "tabs  tabs"
}

.title {
  grid-area: title;
}

.summary-btn {
  grid-area: summary-btn;
}

.tabs {
  grid-area: tabs;
  display: flex;
  justify-content: space-between;
}

.nav-item {
  width: 2rem;
  height: 2rem;
  margin: 0rem;
  padding: 0rem;
}

.nav-search {
  width: 30%;
}

.left-arrow {
  width: .5rem;
}

.hamburger-and-arrow {

}

.icon {
  height: 2rem;
  width: 2rem;
  color: white;
}

.edit {
 display: inline;
}

.pencil {
  width: 1rem;
  height: 1rem;
}