* {
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
}

body {
  /*background-image: url("back-placeholder1.png");*/
  background-repeat: no-repeat;
  display: grid;
  grid-template-areas:
    "aside nav  nav"
    "aside main main"
    "aside main main";
  grid-template-rows: 18%;
  grid-template-columns: 15% 1fr 1fr;
  width: 92.75%;
  height: 96rem;
}

aside {
  /*border: 1px black solid;*/
  grid-area: aside;
  display: grid;
  grid-template-areas: 
    "aside-header"
    "aside-main"
    "aside-admin"
    "aside-categories";
  grid-template-rows: 9.3rem 15rem 24rem 1fr;
  background: #354051;
}

.aside-header {
  grid-area: aside-header;
  display: grid;
  grid-template-areas: 
    ".        newt-img  ."
    "newt-txt newt-txt  newt-txt";
  grid-template-columns: 3rem 1fr 3rem;
  padding-top: 2.2rem;
  padding-left: .5rem;
}

.aside-header-flex {
  height: 11.3rem;
  border-bottom: 1px black solid;
}

.newt-img {
   grid-area: newt-img;
}

.newt-text {
  grid-area: newt-txt;
  width: 100%;
  font-size: 14px;
  padding-left: 2.3rem;
  padding-top: 1.1rem;
  color: #AAB5C7;
  font-weight: bold;
}

.newt-icon {
  height: .4rem;
}

.inline {
display: inline
}

.aside-main {
  height: 19.45rem;
  border-bottom: 1px solid black;
}
/*.aside-main {
  grid-area: aside-main;
  display: grid;
  grid-template-areas: 
    ".  main"
    ".  home"
    ".  jobs"
    ".  resumes"
    ".  tasks"
    ".  calendar";
  grid-template-columns: 1.5rem 1fr;
  grid-template-rows: 1.2fr 2fr 2fr 2fr 2fr 2fr;
}*/

.main {
  font-size: 12px;
  margin-bottom: 1rem;
  margin-left: 1rem;
  /*border: 1px black solid;*/
  display: block;
  margin-top: 3.7rem;
  color: #9EA9BB;
}

.home {
  grid-area: home;
  display: flex;
  margin-top: 1.4rem;
  margin-left: 1.5rem;
}

.jobs {
  grid-area: jobs;
    display: flex;

  margin-top: 1.4rem;
  margin-left: 1.5rem;

}

.resumes {
  grid-area: resumes;
  margin-top: 1.4rem;
  margin-left: 1.5rem;
    display: flex;


}

.tasks {
  grid-area: tasks;
    display: flex;

  margin-top: 1.4rem;
  margin-left: 1.5rem;
}

.calendar {
  grid-area: calendar;
  margin-top: 1.4rem;
  margin-left: 1.5rem;
    display: flex;

}

.aside-admin {
  grid-area: aside-admin;
  margin-top: 6.4rem;
  height: 16rem;
  border-bottom: 1px solid black;
}

.admin {
  font-size: 12px;
  margin-bottom: 1rem;
  margin-left: 1rem;
  /*border: 1px black solid;*/
  display: block;
  margin-top: 0rem;
  color: #9EA9BB;
}

.admin-users {
  display: flex;
  margin-top: 1.4rem;
  margin-left: 1.5rem;
}

.admin-locations {
  display: flex;
  margin-top: 1.4rem;
  margin-left: 1.5rem;
}

.admin-workflows {
  display: flex;
  margin-top: 1.4rem;
  margin-left: 1.5rem;
}

.admin-job-boards {
  display: flex;
  margin-top: 1.4rem;
  margin-left: 1.5rem;
}

.admin-social {
    display: flex;
  margin-top: 1.4rem;
  margin-left: 1.5rem;
}

.aside-categories {
  grid-area: aside-categories;
}

.categories-header {
  font-size: 12px;
  margin-bottom: 1rem;
  margin-left: 1rem;
  /*border: 1px black solid;*/
  display: block;
  margin-top: 0.4rem;
  color: #9EA9BB;
}

.categories-administrative {
  display: flex;
  margin-top: 1.4rem;
  margin-left: 1.5rem;
}

.categories-design {
  display: flex;
  margin-top: 1.4rem;
  margin-left: 1.5rem;
}

.categories-executive {
  display: flex;
  margin-top: 1.4rem;
  margin-left: 1.5rem;
}

.categories-hr {
  display: flex;
  margin-top: 1.4rem;
  margin-left: 1.5rem;
}



a {
  text-decoration: none;
  font-size: 12px;
  padding-top: .2rem;
  margin-left: .8rem;
  color: #9EA9BB;
}

a:hover {
  color: #FFF;
}

nav {
  /*border: 1px black solid;*/
  grid-area: nav;
  display: grid;
  grid-template-areas: 
    "search-bar"
    "summary-bar";
  grid-template-rows: 30% 1fr;
  grid-template-columns: 1fr;
}

main {
  /*border: 1px black solid;*/
  display: grid;
  grid-area: main;
  grid-template-areas: 
    "chart  chart"
    "resume social"
    "resume social";
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 34.25%;
  background-color: #EDF2F6;
  color: #9DA1A8;
}

.chart {
  /*border: 1px green solid;*/
  grid-area: chart;
  /*display: flex;*/
  /*background-color: #EDF2F6;*/
  /*height: 100%;*/
  /*width: 100%;*/
  /*justify-content: flex-end;*/
}

.bottom-chart {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 0;
  padding: 0;

}

.top-chart {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}


.applicants-summary-icon {
  width: 9.4rem;
  height: 2.3rem;
  border-radius: 40px;
  margin-right: 11rem;
  font-size: 12px;
}

.total-summary-icon {
  width: 13rem;
  height: 2.3rem;
  border-radius: 40px;
  margin-left: 12.75rem;
  font-size: 12px;
}

.bar-graph {
  width: auto;
  height: 15rem;
  margin-bottom: 1.2rem;
  margin-right: 3.4rem;
}

.circle-graph {
  width: auto;
  height: 14.1rem;
  margin-bottom: 1.2rem;
  margin-left: 0rem;
}

.resume {
  /*border: 1px black solid;*/
  background-color: #EEF0F2;
  grid-area: resume;
  display: grid;
  grid-template-areas: 
    ". job-description job-description job-description"
    ". position-title  position-title  filler"
    ". location        location        filler"
    ". employment-type employment-type filler"
    ". experience      experience      filler"
    ". status          status          filler"
    ". description     description     filler"
    ". hiring-lead     hiring-lead     filler"
    ". approved-salary approved-salary filler";
  grid-template-rows: repeat(6, 4.6rem) 9rem 4.6rem 4.6rem; 
  grid-template-columns: 3.15rem 1rem 1fr 2rem;
}

.filler {
  background-color: #FFF;
  grid-area: filler;
}

.para-size {
  font-size: 13.5px;
}

.resume-question {
  padding-top: .5rem;
  width: 9.5rem;
  height: 4rem;
}

.resume-answer {
  width: 27rem;
  padding-top: .1rem;
  line-height: 1.45rem;
}

.job-description {
  grid-area: job-description;
  display: flex;
  background-color: #6E7E95;
  color: #E7F1FC;
}

.job-title {
  margin-right: .75rem;
  margin-left: 2rem;
  padding-top: 1.5rem;
}

.edit-btn {
  background-color: #7B8AA6;
  padding: .5rem;
  height: 1rem;
  margin-top: 1rem;
} 

.position-title {
  grid-area: position-title;
  display: flex;
  padding-top: 1.5rem;
  border-bottom: 2px #F3F3F3 solid;
  padding-left: 2rem;
  background-color: #FFF;
}

.hiring {
  padding-top: .7rem;
}

.location {
  grid-area: location;
  display: flex;
  padding-top: 1.5rem;
}

.location-resume {
  grid-area: location;
  display: flex;
  padding-top: 1.5rem;
  border-bottom: 2px #F3F3F3 solid;
  padding-left: 2rem;
  background-color: #FFF;
}

.employment-type {
  grid-area: employment-type;
  display: flex;
  padding-top: 1.5rem;
  border-bottom: 2px #F3F3F3 solid;
  padding-left: 2rem;
  background-color: #FFF;
}

.experience {
  grid-area: experience;
  display: flex;
  padding-top: 1.5rem;
  border-bottom: 2px #F3F3F3 solid;
  padding-left: 2rem;
  background-color: #FFF;
}

.status {
  grid-area: status;
  display: flex;
  padding-top: 1.5rem;
  border-bottom: 2px #F3F3F3 solid;
  padding-left: 2rem;
  background-color: #FFF;
}

.description {
  grid-area: description;
  display: flex;
  padding-top: 1.5rem;
  /*border-bottom: 2px #F3F3F3 solid;*/
  /*height: 10rem;*/
  padding-left: 2rem;
  background-color: #FFF;
  border-bottom: 2px #F3F3F3 solid;
  padding-bottom: 7rem;
  /*margin-bottom: 9rem;*/
}

.hiring-lead {
  display: flex;
  grid-area: hiring-lead;
  padding-top: 1rem;
  border-bottom: 2px #F3F3F3 solid;
  padding-left: 2rem;
  background-color: #FFF;
}

.albus-img {
  border-radius: 100%;
  height: 2.75rem;
  position: absolute;
  width: 2.75rem;
}

.albus-txt {
  padding-top: .7rem;
  padding-left: 3.45rem;
}

.approved-salary {
  grid-area: approved-salary;
  display: flex;
  padding-top: 1.6rem;
  border-bottom: 2px #F3F3F3 solid;
  height: 3rem;
  padding-left: 2rem;
  background-color: #FFF;
}

.social {
  grid-area: social;
  display: flex;
  flex-direction: column;
  background-color: #EDF2F6;

}

.social-buttons {
  width: 17.75rem;
  height: 11.4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 3.1rem;
}

.social-btn {
  color: white;
}

.facebook {
  box-sizing: border-box;
  background-color: #4B71C2;
  justify-content: center;
  height: 2.75rem;
  display: flex;
  justify-content: flex-start;
  align-items: all;
  padding-left: 1.6rem;
  padding-top: .75rem;
}

.post-facebook {
  margin-left: 3.2rem;
  font-size: 15px;
}

.twitter {
  background-color: #00ABF0;
  box-sizing: border-box;
  justify-content: center;
  height: 2.75rem;
  display: flex;
  justify-content: flex-start;
  align-items: all;
  padding-left: 1.6rem;
  padding-top: .6rem;
}

.post-twitter {
  margin-left: 2.75rem;
  font-size: 15px;
}

.linkedin {
  background-color: #067FBC;
  box-sizing: border-box;
  justify-content: center;
  height: 2.75rem;
  display: flex;
  justify-content: flex-start;
  align-items: all;
  padding-left: 1.6rem;
  padding-top: .65rem;
}

.post-linkedin {
  margin-left: 3.1rem;
  font-size: 15px;
}

.job-link {
  margin-left: 3.4rem;
  margin-right: 3.1rem;
  height: 11.1rem;
  margin-top: 2.2rem;
  border-bottom: 2px #DEE3E9 solid;
}

.job-link-header {
  font-size: 18px;
}

.fa-globe-americas {
  margin-right: .2rem;
}

.job-link-main {
  margin-top: 1rem;
  font-size: 13px;
}

.job-link-translation {
  margin-top: .4rem;
  font-size: 13px;
  margin-bottom: 1.5rem;
}

.aside-hover:hover {
  background-color: #2F394A;
  border-left: 2px solid #1C85BD;
}

.copy-link {
  display: flex;
}

.copy-btn {
  width: 23.5%;
  height: 3rem;
  background-color: #48B6C2;
  color: #FFF;
}

.copy-job-link {
  width: 76.5%;
}

::placeholder {
  color: #9DA1A8
}

.resume-link {
  margin-left: 3.4rem;
  margin-right: 3.1rem;
  height: 11.1rem;
  margin-top: 2.0rem;
}

.fa-paper-plane {
  margin-right: .255rem;
}


.round-image {
  border-radius: 100%;
  width: 5rem;
  height: 5rem;
}

.search-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav-item {
  width: 2rem;
  height: 2rem;
  /*padding-top: 1rem;*/
}

.nav-hamburger {
  width: 1.25rem;
}

.nav-right {
  display: flex;
}

.nav-four-buttons {
  box-sizing: border-box;
  border-left: #f2f2f2 2px solid;
  border-right: #f2f2f2 2px solid;
  padding: 2rem;
  color: #9EA3AF;
}

.calendars {
  box-sizing: border-box;
  border-left: #f2f2f2 2px solid;
  padding: 2rem;
  color: #9EA3AF;
}

.nav-add-profile {
  box-sizing: border-box;
  border-left: #f2f2f2 2px solid;
  padding: 2rem;
  color: #9EA3AF;
}

.nav-square:hover {
  background-color: #19a3f8;
  color: #FFF;
}

.round-summary-icon:hover {
  background-color: #9da2ad21;
}

.nav-search {
  width: 20rem;
  margin-left: 0rem;
  padding-left: .3rem;
  height: 5rem;
  display: flex;
  border: none;
  background-color: #FEFEFE; 
}

.fa-search {
  box-sizing: border-box;
  font-size: 1.5rem;
  color: #9EA3AF;
  /*border: 1px #9EA3AF solid;*/
  /*width: 5rem;*/
  padding: 1.65rem .1rem 1.65rem 1.65rem;
  border: none;
  background-color: #FFF;
;
}

.left-arrow {
  width: .4rem;
}

.flexed {
  display: flex;
}

.hamburger-and-arrow {
  padding-left: 1.6rem;
  /* margin-right: 1.5rem; */
  padding-right: 1.6rem;
  padding-top: 1.6rem;
  border-right: 1px #f2f2f2 solid;
}

.fa-bars {
  box-sizing: border-box;
  /*border-left: #f2f2f2 2px solid;*/
  padding: 2rem;
  color: #9EA3AF;
}

.bar-menu {
  width: 1.25rem;
  padding-left: 1.3rem;
  padding-top: 1.6rem;
}

.summary-bar {
  border: 1px #F2F2F2 solid;
  display: grid;
  grid-template-areas: 
    ".     ."
    "title summary-btn"
    "tabs  tabs"
}

.title {
  grid-area: title;
  padding-left: 3rem;
  padding-top: 1rem;
  padding-bottom: 0;
  margin-bottom: 0;
  margin-top: .6rem;
}

h2 {
  color: #7D7D80;
  font-size: 26px;
}

.location {
  padding-top: 0;
  margin-top: .8rem;
  color: #BBBCC3
}

.location-pin {
  margin-right: .3rem;
}

.location-hyphen {
  margin-left: .33rem;
}

.preview-post {
  color: #97D4FA;
  margin-left: .33rem;
}

.tabs {
  grid-area: tabs;
  display: flex;
  justify-content: space-between;
  color: #ADAFB5;
  font-size: 13px;
  margin-top: 1.3rem;
  width: 78.5%;
}

.tab:hover {
  border-bottom: 2px #1c85bd solid;
  margin-bottom: -2px;
}

.summary-tab {
  margin-left: 3rem;
}

.summary-btn {
  grid-area: summary-btn;
  float: right;
  margin-left: 20rem;
  display: flex;
  justify-content: flex-end;
}

#bookmark {
  display: inline;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  margin-top: 2.25rem;
  margin-right: .9rem;
  color: #9EA3AF;

}

#edit-pencil {
  display: inline;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  margin-top: 2.25rem;
  margin-right: .9rem;
  color: #9EA3AF;
}

.pencil-color {
  color: #9EA3AF;
}

#trash {
  display: inline;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  margin-top: 2.25rem;
  margin-right: 2.9rem;
  color: #9EA3AF;
}

.oval-summary-icon {
  /*border-radius: 50%;*/
  width: 5.8rem;
  height: 2.5rem;
  border-radius: 40px;
  display: flex
  justify-content: space-between;
  margin-top: 2.3rem;
  margin-right: .9rem;
}

.oval-summary-icon:hover {
  background-color: #9da2ad21;
}

.sum-icons:hover {
  background-color: #19a3f8;
  color: #FFF;
}

.inline-button {
  display: inline;
  font-size: 12px;
}

.fa-circle {
  color: #8CCA45;
}

.icon {
  color: white;
  height: 1.1rem;
}

.edit {
 display: inline;
}

.pencil {
  width: 1rem;
  height: 1rem;
  color: #E7F1FC;
}

/*MEDIA QUERIES*/

